$title-font: 'Raleway', serif
$sans: 'Open Sans', sans-serif
$sansbld: 'Open Sans Semibold', sans-serif
@mixin customer_name()
    font-family: $sans
    font-size: 20px
    font-style: normal
    font-variant: normal
    line-height: 26.4px
@mixin customer_say()
    font-family: $sans
    font-size: 14px
    font-style: italic
    font-variant: normal
@mixin title()
    font-family: $title-font
    font-size: 36px
    font-style: normal
    font-variant: normal
    font-weight: 500
    line-height: 26.4px
    text-transform: uppercase

