.section1 {
  background: white;
  margin: auto;
  text-align: center;
  height: 400px;
  padding-top: 100px;
  padding-bottom: 90px; }
  .section1 .hrome {
    width: 60px;
    height: 2px;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: red; }
  .section1 label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  .section1 div {
    margin: auto;
    text-align: center;
    width: 1095px; }
  .section1 figure {
    width: 305px;
    height: 285px;
    padding: 55px 30px;
    margin: 0px;
    display: block;
    float: left;
    text-align: left; }
    .section1 figure p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: italic;
      font-variant: normal;
      background-color: #f5f5f5;
      padding: 23px 15px 23px 10px;
      width: 255px;
      margin: auto;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
    .section1 figure img {
      display: block;
      float: left;
      margin-top: 22px;
      margin-right: 15px;
      margin-left: 15px; }
    .section1 figure label {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-variant: normal;
      line-height: 26.4px;
      display: block;
      font-weight: 600;
      float: none;
      margin-top: 35px; }
    .section1 figure label + label {
      font-weight: 500;
      font-size: 14px;
      margin-top: 0px; }

      h2 {
  font-family: "Raleway", serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  text-transform: uppercase; }

.section2 {
  clear: both;
  display: block;
  background-color: black;
  background-image: url("img/bg_st.png");
  text-align: center;
  color: white;
  padding-top: 70px;
  padding-bottom: 65px;
  box-shadow: 0px 0px 0px 375px rgba(0, 0, 0, 0.6) inset; }
  .section2 .hrome {
    width: 60px;
    height: 2px;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: white; }
  .section2 label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  .section2 button {
    background-color: transparent;
    display: block;
    margin: auto;
    color: white;
    margin-top: 30px;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 15px;
    border-width: 2px;
    padding: 10px 25px; }

