@import "fonts"
@import "hrome"
@mixin border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius
.section1
	background: white
	margin: auto
	text-align: center
	height: 400px
	padding-top: 100px
	padding-bottom: 90px
	.hrome
		@include hrome()
		background-color: red	
	label
		font-family: $sans
		font-size: 14px
	div
		margin: auto
		text-align: center
		width: 1095px
		img
			display: block
			float: left
			margin-top: 22px
			margin-right: 15px
			margin-left: 15px
		label
			@include customer_name()
			display: block
			font-weight: 600	
			float: none
			margin-top: 35px
		label + label
			font-weight: 500
			font-size: 14px
			margin-top: 0px

  figure
		width: 305px
		height: 285px
		padding: 55px 30px
		margin: 0px
		display: block
		float: left
		text-align: left
		p
			@include customer_say()
			background-color: #f5f5f5
			padding: 23px 15px 23px 10px		
			width: 255px
			margin: auto
			@include border-radius(2px)


@mixin opacity($op)
	filter: alpha(Opacity=$op)
	opacity: $op/100
.section2
	clear: both
	display: block
	background-color: black
	background-image: url("bg_st.png")
	text-align: center
	color: white
	padding-top: 70px
	padding-bottom: 65px
	box-shadow: 0px 0px 0px 375px rgba(0, 0, 0, 0.6) inset
	.hrome
		@include hrome()
		background-color: white	
	label
		font-family: $sans
		font-size: 14px
	button 
		background-color: transparent
		display: block
		margin: auto
		color: white
		margin-top: 30px
		font-family: $sansbld
		font-size: 15px
		border-width: 2px
		padding: 10px 25px
